
#siteLogo{
	padding-top:		10px;
	padding-bottom:		10px;
	width:				150px;
}

#editor{
	height:			400px;
	padding-left:	40px;
	padding-right:	20px;
}

#codeEditor{
	position:relative;
	display:		inline-block;
	height: 		90%;
	margin-top:		10px;
	margin-left:	20px;
	margin-right:	40px;
	width: 			95%;
}
